apiVersion: v1
kind: Service
metadata:
  name: shopping-service
  namespace: personalcook
spec:
  selector:
    app: shopping-service
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
