apiVersion: v1
kind: Service
metadata:
  name: shopping-service
  namespace: personalcook
  labels:
    app: shopping-service
spec:
  selector:
    app: shopping-service
  ports:
    - name: http         
      port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
